* {
	margin: 0;
	padding: 0;
}

body {
	background: #b3cbd1;
}

/* Structure */

#header {
	margin-top: 60px;
	height: 100px;
}

#nav-bar {
	height: 49px;
	background: url(../img/nav.png) repeat-x;
	position: relative;
	
}

#nav-left {
	float: left;
	padding-left: 20px;
}

#nav-right {
	float: right;
	padding-right: 20px;
}

#logo {
	width: 261px;
	height: 124px;
	top: -45px;
	background: url(../img/logo.png);
	position: absolute;
	left: 50%;
	margin-left: -130px;

}

#content {
	width: 960px;
	margin: 20px auto 40px;

}

#map-wrapper {
	width: 100%;
	background: white;
	height: 400px;
	position: relative;
	margin-bottom: 50px;
}

#map-canvas {
	width: 100%;
	background: white;
	height: 400px;
	z-index: 1;
	
}

#map-overlay {
	width: 280px;
	padding: 20px;
	height: 360px;
	position: absolute;
	right: 0px;
	background: lightGrey;
	z-index: 100;
}

#map-overlay ul.ui-tabs-nav {
	right: -70px;
}

#search-results {
	width: 600px;
	background: white;
	height: 360px;
	padding: 20px;
	float: left;
	position: relative;
	border-radius:10px; 
	-moz-border-radius: 10px; 
	-khtml-border-radius: 10px; 
	-webkit-border-radius: 10px;
}

#search-results ul.ui-tabs-nav {
	padding-left: 40px;
}

#favorites {
	width: 320px;
	background: lightGrey;
	height: 400px;
	float: left;
}

#footer {
	height: 300px;
	background: lightGrey;

}

.house-result {
	height: 100px;

}

.house-thumb {
	float: left;
	margin: 10px;
}

.house-result-meta {
	float: left;
}

.house-result-ranking {
	float: right;
	width: 150px;
}

.clear {
	clear: both;
}

/* End Structure */

/* Typography */
@font-face {
	font-family: 'AdelleBasicBold';
	src: url('adellebasic_bold-webfont.eot');
	src: local('☺'), url('adellebasic_bold-webfont.woff') format('woff'), url('adellebasic_bold-webfont.ttf') format('truetype'), url('adellebasic_bold-webfont.svg#webfonti5NnZvPI') format('svg');
	font-weight: normal;
	font-style: normal;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

ul {
	list-style: none;
}

li {
	display: inline;
}

#nav-bar ul {
	overflow: visible;
}

#nav-bar ul li {
	height: 64px;
	display: inline;
	float: left;
	overflow: visible;
}

#nav-bar ul li.current {
	background: url(../img/arrow.png) no-repeat center bottom;
}

#nav-bar ul li a {
	color: #4B5F63;
	font-style: normal;
	line-height:normal;
	font-size: 15px;
	font-family: 'AdelleBasicBold', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	font-size-adjust: 0.52;
	line-height: 49px;
	padding: 0 15px;
	display: block;
	text-transform: lowercase;
	overflow: visible;
}

#nav-bar ul li a.current {
	background: #4B5F63;
	color: white;
}

#nav-bar ul li a.current:hover{
	background: #4B5F63;
	color: white;
}

#nav-bar ul li a:hover {
	background: #6F7F82;
	color: white;
}

h1 {
	color: #4B5F63;
	font-style: normal;
	line-height:normal;
	font-family: 'AdelleBasicBold', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	font-size-adjust: 0.52;
}

.house-result-meta h3 {
	font: normal 13px 'Lucida Grande', 'Lucida Sans Unicode', serif;
}

.house-result-meta h2 {
	font: normal 22px Georgia, serif;
}

.avg-rent {
	font: normal 30px Georgia, serif;
}

.avg-rent span {
	font: normal 10px 'Lucida Grande', 'Lucida Sans Unicode', serif;
	text-transform: uppercase;
}

.rank {
	font: normal 30px Georgia, serif;
}

.rank span {
	font: normal 10px 'Lucida Grande', 'Lucida Sans Unicode', serif;
	text-transform: uppercase;
}



.numInput{
		
	background-color: #abc4cc;
	width: 20px;
	height: 10px;
	padding: 10px;
	margin: 10px;
	color: #4B5F63;
	font-style: bold;
	border-radius:10px; 
	-moz-border-radius: 10px; 
	-khtml-border-radius: 10px; 
	-webkit-border-radius: 10px;
	border: none;
}

hr.custom-rule {
	border-top: 1px solid lightGrey;
	border-bottom: 1px solid darkGrey;
	margin: 25px 0;

}

/* End Typography */
 






/* Buttons */

.button {
	position: relative;
}

.button:active {
	top:1px;
}

a.button, input.button {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 2px rgba(0,0,0,0.4);
	font-family: Arial, Helvetica, sans-serif;	
	border:1px solid rgba(0,0,0,0.5); 
	padding:5px 5px 5px 5px;
	margin: 5px 10px 0px 10px;
	text-decoration: none;
	cursor: pointer;
}

input.bluebutton {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C8EAFB), to(#5DB3E0));
	background:-moz-linear-gradient(top,#C8EAFB,#5DB3E0);
	background-color: #C8EAFB;
	color:#152832;
	text-shadow:1px 1px 0px rgba(223,244,255,0.8);	
}

input.bluebutton:hover {
	background:rgba(223,244,255,1);
	color:#152832;
	background-color: #dff4ff;
	
}
 
input.bluebutton:active, input.bluebutton:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(#C8EAFB), to(#5DB3E0));
	background:-moz-linear-gradient(bottom,#C8EAFB,#5DB3E0);
}

a.bluebutton {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C8EAFB), to(#5DB3E0));
	background:-moz-linear-gradient(top,#C8EAFB,#5DB3E0);
	background-color: #C8EAFB;
	color:#152832;
	text-shadow:1px 1px 0px rgba(223,244,255,0.8);	
}

a.bluebutton:hover {
	background:rgba(223,244,255,1);
	color:#152832;
	background-color: #dff4ff;
	
}
 
a.bluebutton:active, a.bluebutton:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(#C8EAFB), to(#5DB3E0));
	background:-moz-linear-gradient(bottom,#C8EAFB,#5DB3E0);
}

a.button:disabled {
	color:rgba(0,0,0,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
	background:rgba(220,220,220,1);
}
 
a.orangebutton {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffe19f), to(#fabe3b));
	background:-moz-linear-gradient(top,#ffe19f,#fabe3b);
	background-color: #7b480c;
	color:#7b480c;
	text-shadow:0px 1px 0px #ffe1be;	
}

a.orangebutton:hover {
	color:#7b480c;
	background: #ffe1be;
	
}
 
a.orangebutton:active, a.orangebutton:focus {
	background:-webkit-gradient(linear,0% 100%,0% 0%,from(#ffe19f), to(#fabe3b));
	background:-moz-linear-gradient(bottom,#ffe19f,#fabe3b);
}


a.redbutton {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffcfd5), to(#bf3445));
	background:-moz-linear-gradient(top,#ffcfd5,#bf3445);
	background-color: #ffcfd5;
	color:#492428;
	text-shadow:1px 1px 0px rgba(255,189,197,.8);	
}

a.redbutton:hover {
	background:rgba(255,189,197,1);
	color:#492428;
	background-color: #ffbdc5;
	
}
 
a.redbutton:active, a.redbutton:focus {
	background: -webkit-gradient(linear, 0% 100%, 0% 100%, from(#ffcfd5), to(#bf3445));
	background:-moz-linear-gradient(bottom,#ffcfd5,#bf3445);
}



.medium {
	font-weight: bold;
	font-size: 15px;
}

.register_now {
	display: inline;
}

/* End Buttons */